.UserInfo {
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    color: #555;
}
.UserInfo .inner{
    margin: -10px;
    padding: 10px;
    width: 210px;
    box-sizing: border-box;
}
.UserInfo .top{
    height: 64px;
    
}
.UserInfo .middle{
    
}
.UserInfo .button{
    
}

.UserInfo .user_name{
    color: #fff;
    font-size: 24px;
}
.UserInfo .follow_info{
    color: #111;
    font-size: 16px;
}