.HeaderBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(255, 118, 118);
    box-sizing: border-box;
}
.TopBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(148, 245, 92);
    box-sizing: border-box;
}
.ContainerBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(81, 50, 253);
    box-sizing: border-box;
}
.MainBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(255, 179, 79);
    box-sizing: border-box;
}
.SideBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(255, 90, 192);
    box-sizing: border-box;
}
.FooterBlock{
    border-style: solid; 
    border-width: 1px;
    border-color: rgb(73, 73, 73);
    box-sizing: border-box;
}