.PostRow{
    padding: 10px;
    height: 60px;
    border-bottom: solid 1px #eee;
    background-color: #fff;
}
.PostRow .left{
    float: left;
    width: 85%;
}
.PostRow .right{
    float: left;
    width: 15%;  
}
.PostRow .title{
    vertical-align: bottom;
    font-size: 16px;
    color: #ff94b1;
}
.PostRow .content{
    font-size: 12px;
    color: #ccc;
    margin-left: 30px;
}
.PostRow .author{
    font-size: 15px;
    color: #00a1d6;
}
.PostRow .date{
    font-size: 12px;
    color: #ccc;
}
.PostRow .reply_num{
    float: left;
    margin-right: 5px;
    font-size: 10px;
    color: #ff94b1;
}