.Announcement .SubBlock{
    width: 100%;
    overflow: hidden;
    padding: 10px;
}
.Announcement .SubBlock .title{
    color: #fb7299;
}
.Announcement .SubBlock .content{
    color: #555;
    border: solid 1px #00a1d6;
    border-radius: 4px;
    word-wrap: break-word;
    padding: 2px;
    box-sizing: border-box;
}