body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clearfix{
  clear: both;
  content: "";
  display: table;
}
/** Format row style 
* use 'float:left' items in row class div
*/
.row ::after{
  clear: both;
  content: "";
  display: table;
}

.block{
  display: inline-block;
}

/** Format li in this ul horizontaly */
.horizontal_ul li{
  list-style-type:none;
  float: left;
}

.to_left{
  float: left;
}
.to_right{
  float: right;
}

.pair_row{
  width: 100%; 
  clear: both;
  content: "";
  display: table;
}
.pair_part{
  width: 50%;
  float: left;
}