.PostPublishPanel{
    padding: 5px;
}
.PostPublishPanel .top{
    margin-bottom: 3px;
}
.PostPublishPanel .bottom{
    height: 16px;
    padding: 5px;
}
.PostPublishPanel #submit_post{
    float: right;
}
