.PostPublishPanel{
    padding: 5px;
}
.PostPublishPanel .top{
    margin-bottom: 3px;
}
.PostPublishPanel .bottom{
    height: 16px;
    padding: 5px;
}
.PostPublishPanel .notice{
    color: #ccc;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}
.PostPublishPanel #submit_post{
    float: right;
}
